# ===== CSMJU-Shop =====
# รูปแบบ: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:<PASSWORD>@localhost:5432/csmju_shop?schema=public"

# พอร์ตของ API server
PORT=3000

# development | production
NODE_ENV=development
